
body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,rgb(33, 12, 93),rgb(30, 115, 212));
    margin: 0;
}


#contenedor-padre {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}


#header {
    width: 40%;
    padding-right: 70px;
}

#header h1 {
    font-size: 85px;
    color: #ffffff;
    margin-bottom: 10px;
}
.contenedor {
    background-color: rgba(255, 255, 255, 0.979);
    width: 50%;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    border-radius: 10px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 0 auto;
}


#loginForm {
    display: flex;
    flex-direction: column;

}

#loginForm div {
    margin-bottom: 15px;
   
}

#loginForm label {
    font-size: 16px;
    color: #1c1e21;
    margin-bottom: 5px;
}

#loginForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 14px;
}

#loginForm button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: rgb(30, 115, 212);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#loginForm button:hover {
    background-color:rgb(60, 130, 221);
}

#loginForm .Olvidaste-contraseña {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

#loginForm .Olvidaste-contraseña:hover {
    text-decoration: underline;
    
}

#loginForm .return {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color:rgb(33, 12, 93);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#loginForm .return:hover {
    background-color:rgb(56, 56, 155);
}

.frase{
    align-content: center;
    font-size: 18px;
    color: #d0d4da;
    text-align: center;
    position: absolute;
    padding-left: 60px;
}

#errorMessage {
    color: rgba(252, 35, 35, 0.808);
    min-height: 20px; 
    margin: 0 auto;
}
.volver{
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: rgb(33, 12, 93);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    height: 20px;   
}
.volver:hover{
    background-color:rgb(56, 56, 155);
}
.volver p {
   margin: auto;
    text-align: center;

}
.volver p a {
    text-decoration: none;
}


/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    #header h1 {
        font-size: 36px; /* Ajusta el tamaño de fuente */
    }
    .contenedor {
        padding: 15px; /* Reduce el padding */
    }
    #loginForm button,
    #loginForm .return,
    .volver {
        font-size: 12px; /* Reduce el tamaño de fuente */
        padding: 8px; /* Reduce el padding */
    }
    .frase {
        font-size: 12px; /* Reduce el tamaño de fuente */
}
}