:root {
    --primary: #96a5f5;
    --secondary:  rgb(30, 115, 212);
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--diabled);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    display: block;
    margin:10px 10px 10px 10px ;
    border-radius: 20px;
    padding: 15px;
    background-color:white;
    max-width: 400px;
    color:black;
}
.list h2{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
    color:black;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black;
}

.dateLeft {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 22px;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

#taskList{
    background: rgb(233, 231, 231);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    gap: 15px;
    font-size: 14px;
}
input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}
    

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
}

.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
    border-radius: 5px; 
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}

/* Media query para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 600px) {
    .list {
        max-width: 100%; /* Asegura que la lista ocupe todo el ancho */
    }
    #dateNumber {
        font-size: 24px; /* Ajusta el tamaño de fuente */
    }
    #dateText {
        font-size: 16px; /* Ajusta el tamaño */
    }
    .addTaskButton {
        font-size: 14px; /* Ajusta el tamaño de fuente */
    }
    .task {
        font-size: 12px; /* Ajusta el tamaño */
        padding: 8px; /* Reduce el padding */
    }
    .list h2 {
        font-size: 16px; /* Reduce el tamaño de la fuente */
}
}