<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}">
    <title>Informacion</title>
</head>
<body>
    <div id="contenedor-padre">
        <div class="titulo">
            <div>
                <header id="header" ><h1><strong>TaskManager</strong></h1></header>
            </div>
        </div>

        <div class="bloque">
            <div class="images">
            <img src="{{ url_for('static', filename='imagenes/fondo10.jpeg') }}" alt="nosotros">
            </div>
            <div class="objetivo">
                <P>  TaskManager es una herramienta de gestión de tareas hecha por estudiantes, para estudiantes.
                    <br><br>Nuestra plataforma es la solución que necesitas para organizar, planificar y
                    llevar al día todas tus actividades y proyectos de manera sencilla y eficiente. 
                    Hemos diseñado esta herramienta pensando en las necesidades de estudiantes como nosotros,
                    buscando facilitar el trabajo, optimizar el tiempo y mejorar la productividad.</P>
            </div>
        </div><br>

        <div class="informacion">
            <section id="contact">
                    <div class="inner">
                        <section class="split">
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-envelope"></span>
                                    <h3>Email</h3>
                                    <a href="#" style="color: white;">TaskManager@gmail.com</a>
                                </div>
                            </section>
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-phone"></span>
                                    <h3>Teléfono</h3>
                                    <span>(341) 272-4611</span>
                                </div>
                            </section>
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-home"></span>
                                    <h3>Dirección</h3>
                                    <span>Zeballos 1341<br />
                                    S2000 Rosario<br />
                                    Santa Fe</span>
                                </div>
                            </section>
                            <div class="contact-method">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.867663016601!2d-60.646393925040925!3d-32.95450317359001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses!2sar!4v1731175758479!5m2!1ses!2sar" width="400" height="200" style="border:1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                           
                        </section>
                    </div>
            </section>
        </div>
        <div class="volver">
            <form id="volver"><p><a href="{{ url_for('TaskManager') }}" style="color: white;">Volver</a></p> </form>
        </div>
    </div>
</body>
</html>