<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskManager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/TaskManager.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lista.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendario.css') }}">
</head>

<body>
    <header>
        
        <div class="background">
            <div class="images">
                <img src="{{ url_for('static', filename='imagenes/fondo27.png') }}" alt="Imagen de fondo 1">
    
            </div>
        </div>
        <nav class="navbar">
            <div class="nosotros-contacto">
                <ul class="nav-links">
                    <li class="nav-item"><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
        
                    <li class="nav-item nav-item-login"><a href="{{ url_for('comentario') }}" >Comentario</a></li>

                    <li class="nav-item"><a href="{{ url_for('logout') }}">Cerrar sesion</a></li>
                </ul>
            </div>
            
        </nav>
        <div class="titulo">
            <h1><strong>TaskManager</strong></h1>
            <div class="frase">
                <p><b>"La organización de hoy, es el éxito de mañana."</b></p> 
            </div>
        </div>
    </header>

    <div class="contenedor">
        <!--LISTA-->
        <div class="list">
            <h2><strong>Lista de tareas</strong></h2>
            <div class="date">
                <div class="dateLeft">
                    <div id="dateNumber"></div>
                    <div>
                        <div id="dateMonth"></div>
                        <div id="dateYear"></div>
                    </div>
                </div>
                <div id="dateText"></div>
            </div>

            <form id="taskForm" onsubmit="addNewTask(event)" >
                <input type="text" id="taskInput" name="taskText" autocomplete="off" placeholder="Nueva tarea" class="roundBorder">
                <button type="submit" class="addTaskButton">+</button>
            </form>

             <div id="taskList"></div>
            
            <div class="imag-lista">
                <img src="{{ url_for('static', filename='imagenes/fondo7.jpeg') }}" width="300px" height="300px" alt="Imagen lista">
            </div>
        </div>

        <!--calendario-->
        <span class="contenido">
            <div class="title">
                <h1 >CALENDARIO DE EVENTOS</h1>
            </div>
            
            <div class="calendar">
                <div class="calendar-info">
                    <div class="calendar-prev" id="prev-month">&#9664;</div>
                    <span id="month-year"></span>
                    <div class="calendar-next" id="next-month">&#9654;</div>
                </div >
                
                <div id="days-of-week" class="calendar-week">
                    <div class="calendar-day calendar-item">Dom</div>
                    <div class="calendar-day calendar-item">Lun</div>
                    <div class="calendar-day calendar-item">Mar</div>
                    <div class="calendar-day calendar-item">Mie</div>
                    <div class="calendar-day calendar-item">Jue</div>
                    <div class="calendar-day calendar-item">Vie</div>
                    <div class="calendar-day calendar-item">Sab</div>  
                </div>
                    
                <div class="calendar-dates" id="days"> </div>
            </div>

            <!--eventos-->
            <!-- Modal para agregar/editar eventos -->
            <div id="event-modal" class="hidden">
                <div>
                    <h3 class="evento">Eventos para <span id="selected-date"></span></h3>
                    <input type="text" id="event-name" placeholder="Descripción del evento">
                    <button id="add-event">Agregar Evento</button>
                    <ul id="event-list"></ul>
                    <button id="close-modal">Cerrar</button>
                </div>
            </div>
        </span>
    </div>

    <section>
        <div class="contenedor-imagenes">
            <div class="imag-matriz">
                <img src="{{ url_for('static', filename='imagenes/matriz.png') }}" width="400px" height="400px" alt="Imagen matriz">
            </div>
            <div class="imagen-calendario">
                <img src="{{ url_for('static', filename='imagenes/fondo11.jpeg') }}" width="300px" height="300px" alt="Imagen matriz">
            </div>
            <div class="ideas">
                <img src="{{ url_for('static', filename='imagenes/organizar.jpeg') }}" width="400px" height="400px" alt="Imagen matriz">
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/lista.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendario.js') }}"></script>
</body>
</html>
